* {
  box-sizing: 0 auto;
}
body {
  background-color: hsl(0, 0%, 5%)
}

#game-container {
  height: 95vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: .5vw solid blue;
}

/* title */
#titleBoard .title {
  background-color: rgb(255, 255, 0);
  text-align: center;
  font-size: 5vw;
  font-weight: 600;
  width: 30.4vw;
  border-radius: .5vw .5vw 0vw 0vw;
  margin: .2vw -.2vw;
}

/* button */
#btn1 {
  font-size: 2vw;
  font-weight: 800;
  padding: 1vw;
  border: 0.5vw solid rgb(0, 0, 0);
  border-radius: 2vmin;
  margin-top: 2vmin;
  background-color: rgb(255, 255,0);
}

#btn1:hover {
  transition: 130ms;
  border: .5vw solid rgb(255, 0, 0);
  border-radius: 1.5vw;
}

#btn1:active {
  background-color: hsl(60, 50%, 50%);
}

/* messages */
#msg1 {
  font-size: 3vw;
  color: hsl(0, 0%, 100%);
}

/* board */
#board {
  width: 30vw;
  display: grid;
  grid-template-columns: repeat(3, 10vw);
  grid-template-rows: repeat(3, 10vw);
  background-color: rgba(255, 255, 255, .125);
}

#board > div {
  color: white;
  font-size: 8vw;
  width: 9.2vw;
  border: .6vw solid rgb(0, 0, 255);
  margin: -.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#board > div:hover {
  background-color: rgb(255, 0, 0);
}
