* {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: rgb(13, 13, 23);
  --boardSize: 60vmin;
  color: rgb(255, 255, 0);
  margin: 0px;
}

#game-wrapper {
  padding: 1.5vmin;
}

#game-border {
  -moz-box-shadow: 0vmin 0vmin 0vmin 1.5vmin hsl(60, 100%, 40%);
  -webkit-box-shadow: 0vmin 0vmin 0vmin 1.5vmin hsl(60, 100%, 40%);
  box-shadow: 0vmin 0vmin 0vmin 1.5vmin hsl(60, 100%, 40%);
  border: 1.5vmin solid hsl(240, 100%, 50%);
  border-radius: 10px;
  height: calc(100vh - 6vmin);
  display: grid;
  justify-items: center;
  align-content: space-evenly;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.grid-row-1 {
  grid-row: 1;
  display: flex;
  align-items: end;
}
.grid-row-2 {
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
.grid-row-3 {
  grid-row: 3;
  display: flex;
  align-items: start;
}

/* messages */
#msg1 {
  cursor: default;
  font-size: 4vmin;
  margin: 2vmin 0vmin;
}

/* title */
.title {
  cursor: default;
  text-align: center;
  font-size: 9vmin;
  border-radius: 5vmin 5vmin 0vmin 0vmin;
  width: var(--boardSize);
  padding: 0vmin .6vmin;
  margin: 0vmin;
  background-color: hsl(240, 100%, 50%);
}

/* button */
#btn1 {
  cursor: pointer;
  font-size: 5vmin;
  padding: .2em .5em;
  margin: 3vmin;
  font-weight: 600;
  font-family: sans-serif;
  border: 1vmin solid rgb(13, 13, 23);
  border-radius: 5em;
  background-color: hsl(240, 100%, 50%);
  color: rgb(255, 255, 0);
}

/* board */
#board {
  width: var(--boardSize);
  height: var(--boardSize);
  display: grid;
  grid-template-columns: repeat(3, calc(var(--boardSize) / 3));
  grid-template-rows: repeat(3, calc(var(--boardSize) / 3));
  background-color: hsla(240, 100%, 70%, 0.12);
}

#board > div {
  cursor: pointer;
  font-size: 18vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: -.6vmin;
  border: 1.5vmin ridge rgb(0, 0, 255);
}

/* ---------------- INTERACTIVITY ---------------- */
@media(hover: hover) and (pointer: fine) {
  #btn1 {
    border: 1vmin solid rgb(13, 13, 23);
  }
  #board > div:hover {
    background-color: rgb(244, 4, 4);
  }
  #btn1:hover {
    transition: 130ms;
    border: 1vmin solid rgb(244, 4, 4);
  }
}