* {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: rgb(13, 13, 23);
  --boardSize: 65vmin;
  color: rgb(255, 255, 0);
}

#game-border {
  -moz-box-shadow: 0vmin 0vmin 0vmin 1000vmin hsl(60, 100%, 40%);
  -webkit-box-shadow: 0vmin 0vmin 0vmin 1000vmin hsl(60, 100%, 40%);
  box-shadow: 0vmin 0vmin 0vmin 1000vmin hsl(60, 100%, 40%);
  border: 1.5vmin solid hsl(240, 100%, 50%);
  border-radius: 10px;
  height: 100vh;
}

/* messages */
#msg1 {
  cursor: default;
  font-size: 4vmin;
  margin: 2vmin 0vmin;
}

/* title */
.title {
  cursor: default;
  background-color: hsl(240, 100%, 50%);
  text-align: center;
  font-size: 9vmin;
  border-radius: 10px 10px 0px 0px;
  padding: 0vmin .6vmin;
  margin: 0vmin;
  width: var(--boardSize);
}

/* button */
#btn1 {
  cursor: pointer;
  position: absolute;
  top: 88vh;
  font-size: 2em;
  padding: .2em .4em;
  margin: 3vmin;
  font-weight: 600;
  font-family: sans-serif;
  border: 1vmin solid rgb(13, 13, 23);
  border-radius: 5em;
  background-color: hsl(240, 100%, 50%);
  color: rgb(255, 255, 0);
}

/* board */
#board {
  width: var(--boardSize);
  height: var(--boardSize);
  display: grid;
  grid-template-columns: repeat(3, calc(var(--boardSize) / 3));
  grid-template-rows: repeat(3, calc(var(--boardSize) / 3));
  background-color: hsla(240, 100%, 70%, 0.12);
}

#board > div {
  cursor: pointer;
  font-size: 18vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: -.6vmin;
  border: 1.5vmin ridge rgb(0, 0, 255);
}

#game-wrapper {
  height: 90vmin;
  width: 100%;
  display: grid;
  justify-items: center;
  align-content: flex-start;
}

/* ---------------- INTERACTIVITY ---------------- */
@media(hover: hover) and (pointer: fine) {
  #btn1 {
    border: 1vmin solid rgb(13, 13, 23);
  }
  #board > div:hover {
    background-color: rgb(244, 4, 4);
  }
  #btn1:hover {
    transition: 130ms;
    border: 1vmin solid rgb(244, 4, 4);
  }
}